{% extends 'adminTemplate.html.twig' %}
{% block content %}
<nav class="navbar navbar-inverse">
  <a href="/admin/addPost?{{urlPage}}" class="btn btn-lg btn-success btn-block add_button">Добавить новую запись</a>
</nav>
    {% for content in list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ content['title']|raw }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ content['description']|raw }}</p>
            </div>
            <div class="panel-footer {{content['class']}}">
               <a href="?{{urlPage}}/{{content['url']}}" class="btn btn-lg btn-success btn-block edit_button">Редактировать</a>
               <a href="/admin/delPost?{{urlPage}}/{{content['url']}}" class="btn btn-lg btn-success btn-block del_button">Удалить</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}